@page "/visits"
@using VisitModule.Domain.Model
@using VisitModule.Infrastructure.Data
@using VisitModule.Domain
@using Microsoft.EntityFrameworkCore
@inject VisitContext DbContext

<h3>Список визитов</h3>

@if (visits == null)
{
    <p>Загрузка...</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Цель визита</th>
                <th>Локация</th>
                <th>Дата визита</th>
                <th>Продолжительность</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var visit in visits)
            {
                <tr>
                     <td>@visit.Id</td>
                    <td>@visit.Student?.StudentFirstName</td>
                    <td>@visit.Student?.StudentSecondName</td>
                    <td>@visit.Purpose</td>
                    <td>@visit.Location</td>
                    <td>@visit.VisitDate.ToString("dd-MM-yyyy")</td>
                    <td>@visit.Duration</td   
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Visit> visits;

    // Метод для загрузки данных о визитах
    protected override async Task OnInitializedAsync()
    {
        visits = await DbContext.Visits
            .Include(v => v.Student)      // Включаем данные о студенте
            .ToListAsync();
    }
}
